#catalogo{ 
    min-width: 430px;
    max-width: 870px;
    margin: auto;
}

#catalogo .carrosselCatalogo{
    display: grid;
    grid-template-columns: 0.3fr 10fr 0.3fr;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}


.passar{
    padding: 3rem .5rem;
    border: none;
    font-size: 1.5rem;
}

.passar:active{
    background-color: rgba(7, 206, 7, 0.541);
}

.addToCart:active{
    background-color: rgb(0, 143, 31);
  }

#listaCatalogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: inherit;
    overflow: hidden;
}

.pageContent{
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
    grid-template-rows: 4fr 4fr;
    row-gap: 1rem;
    column-gap: 1rem;
}