#modalLogin, #modalCadastro{
    position: fixed;
}

.container{
    margin: 0 auto;
    max-width: 850px;
    background-color: #fff;
    box-shadow: 0 0 100vw rgba(0, 0, 0, 0.596);
    display: flex;
    align-items: center;
    padding: 2.5rem;
    border-radius: 8px;
}

.container .close{
    position: absolute;
    text-align: right;
    cursor: pointer;
    top: .8rem;
    right: .8rem;
    background-color: transparent;
    border: none;
    background-image: url("../images/svgs/.svg");
    font-size: 1.5rem;
}

.container .login-form .title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: 700;
    color: #333;
}

.container .login-form .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
.container .login-form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.container .login-form .input-box input:focus,
.container .login-form .input-box input:valid{
    border-color: var(--marrom);
}

.container .login-form .input-box input[type="submit"]{
    background-color: var(--marrom);
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

.container .login-form .input-box input[type="submit"]:hover{
    background-color: var(--marrom);
    letter-spacing: 0.5px;
}

.container .login-form .input-box i{
    position: absolute;
    color: var(--marrom);
    font-size: 17px;
}

.container .login-form .forgot a{
    color: var(--marrom);
    text-decoration: nome;
}

.container .login-form .signup-text {
    text-align: center;
    padding-top: 20px;
}

.container .login-form .signup-text button, .signup-text-adm button{
    color: var(--marrom);
    background-color: transparent;
    border: none;
    cursor: pointer;
}
    

@media (max-width: 512px){
    #modalLogin, #modalCadastro{
        width: 80vw;
    }
}
