#mySidebar{
  width: 70%;
  max-width: 20rem;
  right:0;
  display: none;
}

#headerSidebar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;
}

#tituloSidebar {
  font-size: 1.5rem;
}

#fecharCarrinho {
  display: flex;
  align-items: center;
  font-size: 2rem;
  height: 35px;
  background: none;
  border: none;
  cursor: pointer;
}

#retangulo {
  position: absolute;
  top: 40px;
  width: 35%;
  height: 2px;
  background: #2D3648;
}

.produtoCarrinho {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  margin: 10px 0;
}

.fotoProdutoCarrinho {
  max-width: 30%;
}

.infosProdutoCarrinho {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 5px;
}

.excluirItem {
  display: flex;
  justify-content: center;;
  align-self: center;
  background: none;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
}

.excluirItem img {
  width: 1.5rem;
}

.controles {
  display: flex;
  gap: 10px;
  align-self: center;
  padding: 0 5px;
}

.contentCart{
  display: flex;
  width: 70%;
  align-items: center;
}

.contentCart input{
  width: 3rem;
}

.imgCart{
  width: 5rem;
  height: 5rem;
  background-size: cover;
}

.titlePrice{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5rem;
  padding: 0;
  width: 55%;
}

.titlePrice h4{
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.produtoCarrinho{
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.466);
  display: flex;
}

.qtdLocal{
  border: 0.2px solid black;
  display: flex;
  height: 2rem;
  margin: auto;
}

.qtdLocal button, .qtdLocal input{
  border: none
}

.qtdLocal button{
  cursor: pointer;
}

.qtdLocal input[type="number"]::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.del{
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.totalLocal{
  display: flex;
}