#destaques{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

#listaDestaque{
  display: flex;
  overflow: scroll;
}

#listaDestaque div{
  width: 50vw;
  align-items: center;
}

#listaDestaque div div:nth-child(1){
  background-size: contain;
}

#listaDestaque::-webkit-scrollbar{
  height: .4rem;
}

#listaDestaque::-webkit-scrollbar-track{
  background-color: transparent;
}

#listaDestaque::-webkit-scrollbar-thumb{
  background-color:var(--marrom);
  border-radius: 20px;
}

@media (max-width: 992px){
  #destaques{
    width: 70vw;
  }
}
