#destaques{
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(70vw);
}

#destaques h2{
  font-family: Inter;
}

#listaDestaque{
  display: flex;
  justify-content: space-around;
}

#listaDestaque::-webkit-scrollbar{
  height: .4rem;
}

#listaDestaque::-webkit-scrollbar-track{
  background-color: transparent;
}

#listaDestaque::-webkit-scrollbar-thumb{
  background-color:var(--marrom);
  border-radius: 20px;
}
