.contentSN{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  
  .conteudoSN{
    width: 30vw;
  }
  
  .conteudoSN:nth-child(1) .SNimg{
    background-image: url("../images/AviPou.png");
  }
  
  .conteudoSN:nth-child(2) .SNimg{
    background-image: url("../images/A.jpg");
  }
  
  .SNimg{
    
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
      width: 30vw;
      height: 20em;
      max-height: 15em;
  }